<div class="container p-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">
      <img width="180" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" class="mx-auto">
        <form #form="ngForm" (submit)="submitLocation()">
          <div class="container p-fluid">
            <p-autoComplete inputStyleClass="form-control" [panelStyle]="{'background-color': 'white'}"
              [(ngModel)]="citySelected" [ngModelOptions]="{standalone: true}"
              [suggestions]="cities" [showClear]="true" placeholder="Ciudad"
              (completeMethod)="search($event)" (onSelect)="onSelect($event)"
              (onClear)="clearInput()" />
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block mt-2" [disabled]="!validSubmitLocation()">
              Consultar Clima
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      @if (weather) {
        <div class="card card-body text-center">
          <img width="140" alt="Angular Logo" [src]="getImageWeather(weather.weather[0].icon)" class="mx-auto">
          <h1 class="h4">Información del Clima</h1>
          <p>Ciudad: {{weather.name}}</p>
          <p>País: {{weather.sys.country}}</p>
          <p>Latitud: {{weather.coord.lat}}</p>
          <p>Longitud: {{weather.coord.lon}}</p>
          <p>Temperatura: {{weather.main.temp}} °C</p>
          <p>Descripción: {{weather.weather[0].description }}</p>
          <p>Temperatura Mínima: {{weather.main.temp_min}} °C</p>
          <p>Temperatura Máxima: {{weather.main.temp_max}} °C</p>
        </div>
      }
    </div>
  </div>
</div>